@font-face {
    font-family: 'Aquatic';
    src: url('../assets/font/Bondrians.otf');
}
@font-face {
    font-family: 'Cafe';
    src: url('../assets/font/Louis-George-Cafe.otf');
}
@font-face {
    font-family: 'Botones';
    src: url('../assets/font/Aquatic-PersonalUse.otf');
}



.titulos{
    font-family: 'Aquatic';
    color:#be9bde;
}

.subtitulos{
    font-family: 'Aquatic';
    text-shadow: black 1px 1px;
    color:#be9bde;
}
.texto{
    font-family:'Cafe';
    font-size: 16px;
    color:black;
}



/* header */
.txt-menu{
    font-family: 'Aquatic';
    color:#be9bde;
    font-size: 20px;
    text-align: center;
}
.txt-menu:hover{
    font-family: 'Aquatic';
    color:#946fb5;
    font-size: 20px;

}
.logo{
    width:200px;
    height:auto;
    align-items: center;
}
.logoBN{
    width: 210px;
    height: auto;
}
.iconos-header{
    width: 25px;
    height: 25px;
}
.iconografia-menu{
    text-align: right;
}
.cabecera-bg{
    background-image:url(../assets/img/mancha.svg);
}
/* fin header */

/* body */
.centrado{
    text-align: center;
}

.iconos-info{
    width: 90px;
    height: 90px;
    margin:auto;
    display: block;

}
.background{
    background-color: #6fcbfe;
}
footer{
    background-image: url('../assets/img/wallpaper.webp');
    width:100%;
    height: auto;
}
p{
    font-family:'Cafe';
    font-size: 16px;
    color:black;
    text-align: justify;
}

.card-image{
    width: auto;
    height: auto;
}

.contenedor-info{
    border-radius:50%;
    border-style: solid;
    border-color: #48b4ee;
    padding:10px;
    width: 240px;
    height: 240px;
    background-color: white;

}
.contenedor-info:hover{
    border-radius:50%;
    padding:10px;
    width: 240px;
    height: 240px;
    background-color:white;
    box-shadow: #6fcbfe inset 2px 2px 30px;

}
.dropdown:hover .dropdown-menu {
    display: block !important;
}
.card-body{
    background-color: white;

}

.btn-basico{
    border-radius: 0%!important;
    border-color:white;
    border-width: 2px ;
    background-color: #be9bde;
    color:white;
    text-shadow: 1px 1px black;
    font-size:20px;
    font-family:'Botones';
    padding: 5px !important;

}
.btn-basico:hover{
    background-color: #946fb5;
    color:white;
    text-shadow: 1px 1px black;
    font-size:20px;
    font-family:'Botones';
    padding: 5px !important;

}
.imagen-mapa{
    width: 500px;
    
}
.morado{
        font-family:'Cafe';
        font-size: 16px;
        color:#946fb5;
        text-align: justify;
}

/* fin body */

/* footer */
.iconos-footer{
    width:25px;
    height:25px;
}
.iconos-footer:hover{
    width:25px;
    height:25px;
}
.redes{
    text-decoration: none;
    color:black;
}
.redes:hover{
    color:#744a99;
}
/* fin footer */
