@font-face {
    font-family: 'Aquatic';
    src: url('../assets/font/Aquatic-PersonalUse.otf');
    }
@font-face {
    font-family: 'Cafe';
    src: url('../assets/font/Louis-George-Cafe.otf');
    }

.titulos{
        font-family: 'Aquatic';
        text-shadow: white 1px 1px;
        color:#744a99;
}


/* header */
.txt-menu{
    font-family: 'Aquatic';
    color:#be9bde;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
.txt-menu:hover{
    font-family: 'Aquatic';
    color:#946fb5;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
}
.logo{
    width:200px;
    height:auto;
    align-items: center;
}
.logoBN{
    width: 210px;
    height: auto;
}
.iconografia-menu{
    text-align: right;
}

/* fin header */

/* body */
.centrado{
    text-align: center;
}

.iconos-info{
    width: 50px;
    height: 50px;

}
.background{
    background-color: #6fcbfe;
}
footer{
    background-image: url('../assets/img/wallpaper.webp');
    width:100%;
    height: auto;
}
p{
    font-family:'Cafe';
    font-size: 16px;
    color:black;
}
    /* panel informaivo - HOME */
.contenedor-info{
    padding:10px;
}
.card{
    border-style:none!important;
}
.contenedor-info-grande{
    background-image: url('../assets/img/wallpaper-bg.webp');

}
    /* fin panel informaivo - HOME */

/* fin body */

/* footer */
.iconos-footer{
    width:25px;
    height:25px;
}
.iconos-footer:hover{
    width:25px;
    height:25px;
}
/* fin footer */