@font-face {
    font-family: 'Aquatic';
    src: url('../font/Aquatic-PersonalUse.otf');
    }

/* header */
    .titulos-navbar{
        font-family: 'Aquatic';
    }


/* fin header */

/* body */

/* fin body */

/* footer */

/* fin footer */